.header{
    min-height:90vh;
    background-image: url('../assets/images/background-header.png');
    background-repeat: no-repeat;
    background-position: center center;
   

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Reem Kufi', sans-serif;
        padding: 0.4rem 1.2rem;
         position: relative;
        z-index: 3;
    }

    &__name{
        color:$blanc;
        font-size: $font-size-title;
        &-prefix{
            color:$vert;
        }
    }

    &__burger{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap:0.5rem;
        &-bar{
            width: 28px;
            height: 0.30rem;
            border-radius: 1px;;
            background-color:$vert;
            transition: all .3s ease-out;
            &:nth-child(2){
                width: 22px;
            }
            &:nth-child(3){
                width: 15px;
            }
        }

        &.open &-bar{
        
                &:nth-child(1){
                    transform: rotate(45deg) translate(10px, 0.34em);
                    transition: transform .3s ease-out;
                }

                &:nth-child(2){
                    
                    opacity: 0;
                    width: 0;
                    transform: translateX(100%);
                    transition: width .2s ease-in-out, opacity .1s ease-in-out .1s;
                }

                &:nth-child(3){
                    width: 28px;
                    transform: rotate(-45deg) translate(5px, 0px); 
                    transition: transform .3s ease-out
                                width .2s ease-out;
                }

        }
    }
    
    &__main{
        display: flex;
        flex-direction: column;
        gap:2.4vh;
        padding: 0 1.2rem;
    }

    &__introduction{
        font-size: $font-size-extra-large;
        margin-top:8rem;
        width: 70%;
        color:$vert;
        font-family: 'Reggae One', sans-serif;
    }

    &__profession{
        color:$blanc;
        font-size: $font-size-title;
        font-family: 'Reem Kufi', sans-serif;
        width: 70%;

    }

    &__links{
        display: flex;
        gap:2.4rem;
        font-family: $font-family-kufi;
        font-size: $font-size-paragraph;

    }

    &__link{
        min-width: 13rem;
        text-align: center;
        padding: 0.5rem 0;
        &:first-child{
            background-color: $vert;
        }

        &:nth-child(2){
            border: 2px $vert solid;
            color:$vert
        }
    }

    &__social-media{
        display: flex;
        gap:1rem;
        max-width: 35%;
        &-item{
            flex: 1;
        }
    }

    
}