// About Me

@keyframes slide {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}



.about {
    background-color: $vert-fonce;
    padding: 5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap:3rem;

    &__intro {
        display: flex;
        flex-direction: column;
        gap:3rem;
    }
    &__title{
      @extend %title-section;


    }

    &__subtitle{
        span{
            color:$vert;
        }
        font-size: $font-size-medium;
        font-family: $font-family-subtitle
    }

    &__description{
        font-size: $font-size-paragraph;
        color:$blanc;
        font-family: $font-family-subtitle;
        line-height: 1.5;
    }

    &__image{
        border-radius: 5%;
        width: 60rem;
        box-shadow: 0 10px 20px rgba(0,0,0,0.2)
       
    }


}

// Skills
.skills{
    background-color: $comp1;
    padding: 5rem 2.2rem;

    &__title{
        @extend %title-section;
    }

    &__list{
        gap:5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top:6rem;

        .skill{
            flex: 1 1 100%;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2rem 1.2rem;
            border-radius: 10px;
            gap: 2rem;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
            position: relative;
        
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 10px;
                border: 2px solid transparent;
                background: linear-gradient(90deg, rgba(255,255,255,0), rgba(122,162,124,1), rgba(255,255,255,0)) border-box;
                mask : 
                  linear-gradient(#fff 0 0) padding-box, 
                  linear-gradient(#fff 0 0);
                -webkit-mask: 
                  linear-gradient(#fff 0 0) padding-box, 
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                        mask-composite: exclude;
                animation: slide 3s infinite linear;
            }

            &__image{
                width: 8rem;
            }

            &__title{
                color: $blanc;
                font-size: $font-size-medium;
                font-family: $font-family-subtitle;
                font-weight: 700;
                margin-bottom: 1.2rem;;
            }

            &__description{
                color: $blanc;
                font-size: $font-size-paragraph;
                font-family: $font-family-subtitle;
                line-height: 1.2;
            }
        }
    }
}

// Projects

.projects{
    padding: 5rem 2.2rem;
    background-color: $vert-fonce;
    &__title{
        @extend %title-section;
    }

    &__subtitle{

        margin:3rem 0;
        font-size: $font-size-medium;
        font-family: $font-family-subtitle;
        line-height: 1.3;
        color:$blanc;
    }

    &__list{
        gap:10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .project{

            flex: 1 1 100%; 
            // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin: 10px;
            display: flex;
            flex-direction: column;

            &__image{
                border-radius: 10px;
                max-height: 28vh;
                object-fit: cover;
                transform: scale(1);
                transition: transform .2s ease-in-out; 

                &:hover {
                    transform: scale(1.02);
                    transition: transform .2s ease-in-out; 
                }   
            }
            &__top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: $font-size-paragraph;
                font-family: $font-family-subtitle;
                color: $blanc;
                margin: 1.48rem 1px;
            }

            &__links{
                display: flex;
                justify-content: center;
                align-items: center;
                gap:0.7rem;
            }

            &__description{
                color : $blanc;
                font-family: $font-family-subtitle;
                font-size: $font-size-paragraph;
                line-height: 1.3;
            }

            &__link{
                cursor: pointer;
                &--github{
                    width: 4.5rem;
                }

                &--next{
                    width: 2.2rem;
                }
            }
        }
    }
}

// Contact

.contact{
    padding: 5rem 2.2rem;
    background-image: url('../assets/images/background-contact.png');
    background-repeat: no-repeat;
    background-position: center center;
    &__title{
        font-size: $font-size-title;
        font-family: $font-family-subtitle;
        margin-bottom:3rem;
        font-weight: bold;
        background-image: linear-gradient(to right, $blanc, $vert); 
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;       
        display: inline-block; 
    }

    &__form{
        border : $vert solid 1px;
        border-radius: 5px;
        padding: 3rem 1.78rem;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: stretch;
        gap:3rem;
        width: 97%;
        margin: 0 auto;

        backdrop-filter: blur(10px);
        background-color: rgba($color: #B0D2BC, $alpha: 0.20);

    }

    &__input, &__textarea{
            border: none;
            padding: 0.5rem 1rem;
            color:$grey;
            font-family: $font-family-subtitle;
            font-size: $font-size-paragraph;
      
            border-bottom: $vert 1px solid;
            background-color: rgba($color: #D1E7CF, $alpha: 0.08);

            &:focus{
                border-top: 1px $vert solid;
            }
    }

    &__submit{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
        padding: 0.29rem 1.37rem;
        border-radius: 30px;
        border: 2px solid $vert;
        font-size: $font-size-paragraph;
        font-family: $font-family-subtitle;
        background: none;
        color:$blanc;
        align-self: flex-start;
        img{
            width: 2.3rem;
        }
    }
}

// Footer

.footer{
    background-color: $noir;
    color:$blanc;
    font-family: $font-family-subtitle;
    font-size: $font-size-paragraph;
    padding: 4rem 1.47rem;
    text-align: center;

    &__top{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center ;
        flex-direction: column;
        gap:0.57rem;
      
        margin: 0 auto 3rem;
        div{
            display: flex;
            align-items: center;
            gap:10px;
        }
        &::before{
            content: "";
            position: absolute;
            bottom:-15px;
            height: 1px;
            background-image: linear-gradient(to right, $blanc, $vert);
            width: 100%;
           
        }
    }

    &__img{
        width: 2.2rem;
    }

    &__credits{
        &--green{
            color:$vert;
            font-weight: 700;
            cursor: pointer;
        }
    }
}