@media screen and (min-width: 768px) { /* Pour les tablettes */
    .projects{
        &__list{
            flex-direction: column;
            justify-content: center;
            padding: 0 5rem;
            .project {
                flex-basis: 35%;
                max-width:40vw;
                &:nth-child(odd) { 
                    align-self: flex-start;
                }
                &:nth-child(even) { 
                    align-self: flex-end;
                }
            }
        }

        &__subtitle{
            width: 60%;
        }
    }

    .skills{
        &__list{
            padding: 0 5rem;
            .skill {
         
            }
        }
    }

}



@media screen and (min-width: 1200px) { /* Pour les grands écrans */
   .header{
        &__main{
            padding-left:6rem;
            gap:5vh;
        }
   }

   .about{
        flex-direction: row-reverse;
        gap:5vw;
        padding: 5rem 5.15rem;
   }

   .skills{

        .skill{
            flex-basis: 25%;
        }
   }



   .contact{

    &__form{
        width: 40%;
    }

   }
  }