// Colors

$vert : #81CD39;
$vert-fonce : #305149;
$blanc : #F8FEF9;
$noir : #131613;
$vert-citron: #346605;
$comp1 : rgba(#305149, 0.85);
$grey : #C6CABE;

// Font-size
$font-size-extra-large : 3rem;
$font-size-title : 2.4rem;
$font-size-medium : 2rem;
$font-size-paragraph : 1.6rem;


// Font-family

$font-family-kufi : 'Reem Kufi', sans-serif;
$font-family-reggae : 'Reggae One', sans-serif;
$font-family-poppins : 'Poppins', sans-serif;
$font-family-general : 'General Sans', sans-serif